
.tp-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* 기존 tp-btn 클래스 수정 */
.tp-btn {
    background-color: #28a745;
    color: white;
    padding: 6px;
}

/* 호버 효과 */
.tp-btn:hover {
    background-color: #218838;
}